* {
  font-family: "Montserrat", sans-serif;
}

#title,
.navbar {
  background-color: #ffc300;
}

.big-text {
  color: #252525;
}

.login {
  width: 50rem;
  animation: fadeInRight 0.5s ease-in-out;
}

.leftDiv {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightDiv {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #ffc300;
}

.rightDivScreenFit {
  height: 95vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #ffc300;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
  font-weight: 500;
  font-size: larger;
}

.logo {
  width: 3.7rem;
  margin: 0 0.5rem 0.3rem 0;
  filter: drop-shadow(0 3px 1px rgba(0, 0, 0, 0.576));
}

.big-logo {
  width: 15rem;
  filter: drop-shadow(0 7px 1px rgba(0, 0, 0, 0.576));
  transition: transform 0.3s;
  animation: fadeInRight 0.5s ease-in-out;
}

.big-logo:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}

.name {
  color: #ffc300;
}

.name:hover {
  color: #bc9000;
}

.bizName {
  font-family: "Ubuntu", sans-serif;
  filter: drop-shadow(0 3px 1px rgba(0, 0, 0, 0.576));
}

.pnf {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.pageNotFoundImg {
  width: 40rem;
}

h1 h2 h3 {
  font-family: "Montserrat";
}

h1 {
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.5;
}

h2 {
  font-size: 2.5rem;
  line-height: 1.5;
}

h3 {
  font-size: 1.9rem;
  font-weight: bold;
  line-height: 1.5;
}

.content {
  padding: 3% 16%;
}

.image {
  width: 40rem;
  padding-bottom: 20px;
  animation: fadeInRight 0.5s ease-in-out;
}

#features {
  padding: 0 15%;
}

.feature-box {
  text-align: center;
  padding: 4%;
}

.icon,
.socials {
  margin-bottom: 1rem;
  color: #ffc300;
}

.icon:hover,
.socials:hover {
  color: #ffd036;
  transform: scale(1.1);
  transition: transform 0.5s;
}

/* .form-control {
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.17));
} */

a {
  text-decoration: none;
  font-weight: 100;
}

.nav-link:hover {
  color: #fde28b !important;
}

.link {
  color: black;
  font-weight: bold;
}

.homeBtn {
  width: 12rem;
}

.logo-img {
  margin: 5px;
}

.wave {
  width: 100%;
}

#pricing {
  padding: 4% 15%;
  background-color: #ffc300;
  text-align: center;
}

.pricing-col {
  padding: 3% 2%;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dropdown {
  z-index: 99;
  margin: 1.5rem 0 0 0;
}

.dropdown:hover {
  cursor: pointer;
}

.card {
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.14);
  transition: transform 0.3s;
}

.bizCard {
  width: 27.7rem;
  height: 35rem;
}

.allCards {
  display: flex;
  margin: 0 0 0 1rem;
  gap: 1.3rem;
  animation: fadeInRight 0.5s ease-in-out;
}

.card-img-top {
  height: 10rem;
  width: 100%;
  object-fit: contain;
  margin: 1.5rem 0 0 0.5rem !important;
}

.card:hover {
  z-index: 5;
  transform: scale(1.02);
  transition: transform 0.1s;
}

#footer {
  padding: 1.5%;
  text-align: center;
  background-color: #252525;
  color: white;
}

.center,
.button,
.form-check {
  display: flex;
  justify-content: center;
}

/* Profile Card */
.user-card {
  color: #303336;
}
.containerDiv {
  margin: 0 auto;
  width: 30rem;
  height: 30.5rem;
  background: white;
  border-radius: 3px;
  position: relative;
}

.information {
  text-align: center;
}

.avatar {
  margin: 0 auto;
  margin: -82px auto 15px;
  display: block;
}
.name {
  font-size: 22px;
  font-weight: bold;
}
.position {
  font-size: 16px;
  color: #8c98a8;
  margin-bottom: 24px;
}
.stats {
  margin: auto;
  border-top: 1px solid #ced5e0;
  width: 240px;
}
.stats .followers,
.stats .following,
.stats .stories {
  display: inline-block;
  padding: 6px 10px 0;
}
.stats .followers,
.stats .following {
  border-right: 1px solid #ced5e0;
}
.stats .value {
  font-size: 18px;
  font-weight: 600;
}
.stats .label {
  display: block;
  font-size: 14px;
  color: #8c98a8;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 767px) {
  span {
    color: black;
  }

  .leftDiv {
    display: none;
  }

  .bizCard {
    width: 100%;
    height: 100%;
  }

  .containerDiv {
    width: 90%;
    height: 29rem;
  }

  ._AllCards {
    width: 100% !important;
  }

  .devicesImg {
    display: none;
  }

  .homeBtn {
    margin: 0.5rem 0 0 0;
    width: 100%;
  }
}
